<ul class="list-group">
  <li class="list-group-item"><%= link_to I18n.t('views.users._sidebar.history'), root_path %></li>
  <li class="list-group-item"><%= link_to I18n.t('views.users._sidebar.items'), items_path %></li>
</ul>
