@import "bootstrap-sprockets";
@import "bootstrap";

.flex {
  display: flex;
  flex-wrap: nowrap;
}


.user-header {
  height: 100px;
  background-color: lightblue;
  h3 {
    a {
      position: relative;
      color: black;
      font-size: 20px;
      padding: 10px 0;
      text-align: center;
      margin: 1.5em 0;
      font-family: serif;
    }
    a:before {
      content: "";
      position: absolute;
      top: -8px;
      left: 50%;
      width: 150px;
      height: 58px;
      border-radius: 50%;
      border: 5px solid lightseagreen;
      border-left-color: transparent;
      border-right-color: transparent;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

.corp-header {
  height: 100px;
  background-color: lightblue;
  h3 {
    a {
      position: relative;
      color: black;
      font-size: 20px;
      padding: 10px 0;
      text-align: center;
      margin: 1.5em 0;
      font-family: serif;
    }
  }
}