<header class="corp-header">
  <div class="container">
    <h3>
      <%= link_to "くらうどハウス貸出（コーポレート用サイト）", corp_items_path %>
    </h3>
      <ul class="nav navbar-nav navbar-right">
        <% if current_corporate_user %>
          <li style="padding-right: 30px"><h4>ユーザー：<%= current_corporate_user&.full_name %></h4></li>
          <li><%= button_to I18n.t('views.corp._header.logout'), destroy_corporate_user_session_path, method: :delete, class: 'btn btn-primary' %></li>
        <% else %>
          <li><%= button_to I18n.t('views.corp._header.login'), new_corporate_user_session_path, method: :get, class: 'btn btn-primary' %></li>
        <% end %>
      </ul>
  </div>
</header>
