<ul class="list-group">
  <li class="list-group-item"><%= link_to I18n.t('views.corp._sidebar.items'), corp_items_path %></li>
  <li class="list-group-item"><%= link_to I18n.t('views.corp._sidebar.users'), corp_users_path %></li>
  <li class="list-group-item"><%= link_to I18n.t('views.corp._sidebar.corp_users'), corp_corporate_users_path %></li>
</ul>
